
body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

.dark {
    background: #111;
    color: white;
}

header {
    background: linear-gradient(to right, #2c3e50, #3498db);
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background: #34495e;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.profile {
    width: 80px;
    object-fit: cover;
    border:1px solid black;
    height: 100px;
    margin-top:10px;
}

.bar {
    width: 100%;
    background: #ddd;
}

.fill {
    height: 10px;
    background: #3498db;
}

.card {
    background: #ecf0f1;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}